.navbar-nav .nav-item .nav-link {
  position: relative;
  color: #ffffff;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-brand:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}

body {
  background-color: #D9D9D9;
}

.navbar {
  background-color: #4484CE;
}

.card-text {
  color: #ffffff;
}

.card {
  transition: all 1s;
}

.card:hover {
  transform: scale(1.1);
  color: #ffffff;
}
